body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

h1 {
  color: peachpuff;
  text-align: center;
  font-size: 90px;
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ecb4c2;
  border: 20px solid #ecb4e2;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: peachpuff;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.played {
  pointer-events: none;
  font-size: 80px;
  color: peachpuff;
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;


}

#resetBtn {

  background-color: #ecb4e2;
  border-radius: 30px;
  border-color: peachpuff;
  font-size: 30px;
  padding: 10px;
  color: peachpuff;
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
}

#resetBtn:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #ecb4c2;
  transition: 0.7s;
}

#statusDisplay {

  color: peachpuff;
  font-size: 40px;
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;

}